body {
  display: flex;
  justify-content: center;
  align-items: flex-start; 
  padding-top: 40px;
}


.container {
  width: 100%;
  max-width: 420px;
  padding: 16px;
}

.card {
  background: rgba(255, 255, 255, 0.22);
  backdrop-filter: blur(14px);
  padding: 28px 20px;
  border-radius: 26px;
  box-shadow: 0 10px 28px rgba(0, 0, 0, 0.15);

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  animation: fadeIn 0.38s ease-out;
}

.title {
  font-size: 28px;
  font-weight: 800;
  margin-bottom: 8px;
}

.subtitle {
  font-size: 15px;
  opacity: 0.95;
  margin-bottom: 20px;
}

.bean-img {
  width: 120px;
  height: 120px;
  border-radius: 20px;
  object-fit: cover;

  margin-bottom: 22px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.22);
}

.main-btn {
  width: 70%;
  background: #ffffff;
  color: #ff7f2e;
  font-size: 17px;
  font-weight: 700;
  padding: 12px 0;
  border-radius: 40px;
  border: none;
  cursor: pointer;
  box-shadow: 0 6px 16px rgba(255, 130, 58, 0.45);
  transition: 0.15s ease;
}

.main-btn:active {
  transform: scale(0.94);
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(8px); }
  to { opacity: 1; transform: translateY(0); }
}

/* Mobile fix */
@media (max-width: 480px) {
  body {
    padding-top: 40px; /* sedikit lebih kecil di HP */
  }

  .card {
    width: 88%;
    margin: 0 auto;
  }
}

html, body {
  overflow: hidden;
  height: 100%;
}
